body{
  margin: 0px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
  }
  
  li a:hover {
    background-color: white;
  }

  li.right{
    margin-left: 78%;
  }

  section.landing{
    padding: 10px;
    min-width: 100%;
    height: 1100px;
    text-align: center;
    background-image: url(img/sunrise.jpg);
    background-size: cover;
    justify-content: center;
  }

  h1, h2, h3, h4, h5, h6, p{
    color: white;
  }

  h1 {
    font-size: 50px;
  }

  p {
    font-size: 20px;
    font-weight:bold; 
  }


  
  section.row{
    padding: 100px 500px;
  }

  * {
    box-sizing: border-box;
  }
  
  /* Create two equal columns that floats next to each other */
  .columnKiri {
    float: left;
    width: 30%;
    padding: 10px;
    height: 300px; /* Should be removed. Only for demonstration */
  }
  
  .columnKanan {
    float: left;
    width: 70%;
    padding: 10px;
    height: 300px; /* Should be removed. Only for demonstration */
  }

  .column {
    float: left;
    width: 50%;
    padding: 10px 5px;
    height: 300px; /* Should be removed. Only for demonstration */
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
      display: table;
      clear: both;
    }

  h2{
    margin: 0px;
    text-align: left;
  }

  h3 {
    text-align: left;
  }

  .m-20 {
    margin-top: 20px;
  }

  .m-40 {
    margin-top: 40px;
  }

  .judul {
    background-color: white;
    /* margin: 0px 60px 0px 60px; */
    height: 100px;
    padding: 5px;
  }

  .judul p, .judul h3 {
    text-align: left;
    margin: 0px;
    color: black;
  }

  .image {
    padding: 150px 10px;
    min-width: 100%;
    min-height: 100%;
    background-image: url(img/pemandangan.jpg);
    background-size: cover; 
  }

  .column img {
    padding: 0px;
    width: 100%;
    height: 100%;
  }


  section.watch{
    text-align: center;
    background-color: aliceblue;
    
  }

  .watch h1 {
    font-size: 50px;
    color: black;
    margin: 0px; 
    padding: 50px; 
  }

  .watch p {
    font-size: 20px;
    font-weight:bold; 
    color: black;
  }